*,
*::after,
*::before{
    box-sizing: border-box;
}

img{
    width: 100%;
    height: 450px;
}

p{
    border: solid 1px blue;
    margin: 10px 0px 10px 0px
}

button{
    width: 100px;
    height: 40px;
    border: solid 1px brown;
    background-color: green;
    border-radius: 5px;
    color: white;
    margin-left: 30px;
}

button:hover{
    cursor: pointer;
}